*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  display: block;
  padding: 10px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

.card > h1 {
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px dashed #ddd;
}

.cat-list {
  flex: 1;
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  list-style: none;
}

.cat-list > li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: .3s;
}

.cat-list > li:hover {
  background-color: #f0f0f0;
}

.cat-list > li:last-child {
  border-bottom: none;
}

.cat-details {
  flex: 2;
  display: block;
  padding: 10px;
  transition: .3s;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}